@font-face {
    font-family: 'Nunito Sans-Regular', sans-serif; 
    src: url(../fonts/NunitoSans-Regular.ttf);
}
@font-face {
    font-family: 'Nunito Sans-Italic', sans-serif; 
    src: url(../fonts/NunitoSans-Italic.ttf);
}
@font-face {
    font-family: 'Yeseva One', cursive;
    src: url(../fonts/YesevaOne-Regular.ttf);
}
*,
::after,
::before {
    box-sizing: border-box;
    
}


h1,
h2,
h3,
p,
a,
span,
body,
ul,
li,
div, 
img,
dd,
::after,
::before {
margin: 0;
padding: 0;    
}
a {
    text-decoration: none;
    color: inherit;
}
li {
    list-style-type: none;
}

 body {
    font-family: 'Nunito Sans-Regular', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #363636;
 }

.header,
.footer__bottom {    
    background-color: #131313;
 }

.header__container,
.footer__container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 10px;
}
.header__inner,
.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 83px;
    gap: 0 40px;
}
.logo {
    width: 180px;
    
   
}
.logo-link {
    
    color: #fff;
    font-size: 11px;
    text-transform: uppercase;
    cursor: pointer;
}
.logo-link:hover {
    color: #E3B873 ;
}
.header__list,
.footer__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 586px;
    gap: 0 20px;
    
}
.header__item,
.footer__item {
    
}
.header__link,
.footer__link {
    text-transform: uppercase;
    color: #fff;
    font-size: 11px;
    cursor: pointer;
}

.header__link:hover,
.footer__link:hover {
    color: #E3B873;
}

.header__contacts,
.footer__contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__phone,
.footer__phone {
    color: #fff;
    font-size: 11px;
    margin-right: 45px;
    width: 110px;
}
.header__phone:hover,
.footer__phone:hover {
    text-decoration: underline;
    color: #E3B873;
}
.button {
    background-color: transparent;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    border: 1px solid #fff;
    outline: 0;
    text-transform: uppercase;
    color: #fff;
    width: 161px;
    height: 34px;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease;
    font-size: 11px;
    
}
.button:hover {
    background-color: #E3B873;
    border: none;

}
.promo {
    background-image: url(../image/main_photo.jpg);
    background-color: #131313;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 194px 0 208px;
    max-height: 100%;
    position: relative;
    z-index:0;
}
.promo::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
    
}
.container {
    max-width: 1256px;
    margin: 0 auto;
    padding: 0 10px;
}
.promo__inner {
    max-width: 520px;  
    font-size: 40px;  
}
.promo__title {
    font-family: 'Yeseva One';
    font-weight: 400;
    font-size: 1em;
    line-height: 132%;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 19px;
}
.promo__title span {
    color: #E3B873;
}
.promo_subtitle {
    font-size: 0.6em;
    line-height: 163%;
    color: #fff;    
}
.promo__button-box {
    display: flex;
    align-items: center;  
    margin-top: 40px;  
    gap: 0 20px;
}
.button__promo {
    text-align: center;
    width: 210px;
    height: 47px;
    font-size: 11px;
}


.section__projects {
    background-color: #131313;
    padding: 107px 0 441px;
}
.container {
}
.projects__list {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 47px;
    
    
}
.projects__item {
    margin-right: 60px;
}
.projects__link {
    text-transform: uppercase;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}
.projects__link:hover {
    text-decoration: underline;
    color: #E3B873;
}
.slider {
    
    


}
.slider__text {
    flex-basis: 442px;
    margin-right: 50px;
}
.slider__content {
    display: grid;
   grid-template-columns: minmax(300px, 442px) 1fr;
    grid-template-rows: minmax(215px, auto) 215px;
    grid-column-gap: 50px;
    grid-template-areas: 
    "slider__text slider_image"
    "slider__menu slider_image";    
}
.slider__text {
    grid-area: slider__text;
}
.slider_image {
    grid-area: slider_image;
}
.slider__menu {
    grid-area: slider__menu;
}


.slider__title {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #E3B873;
    margin-bottom: 34px ;
}
.slider__descr {
    color: #fff;
    line-height: 27px;
    margin-bottom: 42px;
}
.slider__menu {
    display: flex;
    flex-wrap: wrap;  
    order: 3;  
}
.slider__menu dl {
    margin-right: 10px;
    flex-basis: 180px;
}
.slider__menu dt {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
    margin-bottom: 9px;
}
.slider__menu dd {
    font-size: 13px;
    line-height: 21px;
    color: #fff;
}
.slider_image {
    overflow: hidden;
    
    /*grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2 ;*/
}

.slider_image img{
    display: block;
    max-width: 679px;
    max-height: 482px;
    object-fit: cover;

}

.control {
    margin-top: -300px;
}
.small__container {
    max-width: 853px;
    margin: 0 auto;
    padding: 0 18px;

}
.control_img  img{
    display: block;
    margin: 0 auto;
}
.control__title {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 12px;

}

.control_video {
    margin-top: 30px;
    background-image: url(../image/control_video.jpg);
    background-color: #131313;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 817px; 
    height: 434px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.15);
    margin-bottom: 62px;
    
}


.control__link  {
    display:block; 

}
.control__link img {
    display: block;
    max-width: 100%;
    
}
.control__text {
    max-width: 670px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    padding-top: 34px;
    position: relative;
    margin-bottom: 92px;
    
}
.control__text::before {
    content: "";
    border-top: 2px solid #E3B873;
    width: 54px;
    position: absolute;
    top: 0;
    left: calc(50% - 27px)

}

.control_form {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    
}
.label__box {
    display: flex;
    align-items: center;
    gap: 0 50px;
    margin-bottom: 37px;
    
}
.label__title {
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
    margin-bottom: 7px;
}
.label__box input {
    padding-bottom: 8px;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    width: 230px;

    
}
.button {
}
.button__form {
    
    background-color: #E3B873;
    width: 200px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    font-size: 13px;
    margin-left: 50px;
}
.form__checkbox {
    margin: 0 auto;
}
.label {
}
.checkbox {
    
}

.fake {
}
.text {
}
.label {
    cursor: pointer;
  }
  .checkbox{
    display: none;
  }
  
  .fake{
    display: inline-flex;
    width: 18px;
    height: 18px;
    background: #E3B873;
    color: #fff;
    justify-content: center;
  }
  .fake::before{
    content:"\2714";
    opacity: 0;
    transition: .2s;
  }
  .checkbox:checked + .fake::before{
    opacity: 1;
  }
.repair {
    margin-top: 145px;
    
}
.container {
}
.repair__title {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
    margin-bottom: 13px; 
}
.repair_icon {
    display: block;
    margin: 0 auto;
    
}
.repair__cards {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    
    
}
.repair__card {
    max-width: 390px;
    
}
.repair__card img {
    width: 100%;
}


.repair__card-content {
    margin: -126px auto 0;
    max-width: 330px ;
    position: relative;
}
.repair__card-text {    
    padding: 34px 25px 49px;    
    background-color: #fff;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);

}
.card__title {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #363636;
    margin-bottom: 13px;
}
.card__list {
    padding-left: 16px;    
}
.card__item {
    margin-bottom: 10px;
    list-style-type: inherit;
    font-size: 13px;
    color: #959595;
}


.repair__box {
    width: 228px;
    height: 54px;
    padding: 17px 24px;
    background: #E3B873;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    border: none;
    font-family: 'Yeseva One';
    font-style: normal;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    margin-top: -27px;    
}
.advantage {
    margin-top: 228px;
    margin-bottom: 244px;
    background-image: url(../image/bcg_advantage.jpg);
    background-repeat: no-repeat;
    background-position: cover;
    background-size: 710px;

   
}
.container {
}
.advantage__content {
    
    padding-top: 70px;
    display: flex;
    justify-content: space-between;
}
.advantage__text {
    padding-left: 146px;
    padding-top: 62px;
    
}
.advantage__text-item {
    display: flex;
    align-items: center;
    margin-bottom: 86px;
    
    width: 380px;
}
.advantage__text-image {
    display: block;
    max-width: 56px;
    height: auto;    
    margin-right: 10px;
    
}
.advantage__form {
    background: #131313;
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
    padding: 28px 49px;
    width: 506px;
    color: #fff;
}
.advantage__form-title {
    width: 290px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    margin-bottom: 39px;

}

.form__row {
}

.form__row:nth-child(n+2) {
    margin-top: 48px;
}

.form-group {
}
.form-hint {
    display: block;
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 7px;

}
.field {
    background-color: transparent;
    width: 100%;
    outline: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    padding-bottom: 3px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    line-height: 23px; 
    color: #fff;    
    
}
.field::-moz-placeholder {
    color: #fff;
}
.field::-webkit-input-placeholder{
    color: #fff;
}
.form__adv {
    margin-top: 20px;
    margin-bottom: 37px;
}
.form__button {
    display: flex;
    justify-content: flex-end;
}
.form__checkbox {
}
.label {
}
.checkbox {
}
.fake {
}
.text {
}
.button {
}
.advantage__form-button {

}
.advantage__bottom {
    display: flex;
    align-items: center;
    padding-left: 32px;
    margin-top: 38px;
    font-size: 18px;
    line-height: 26px;
    color: #E3B873;
    text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
      
   
}
.advantage__icon {
    margin-right: 25px;

}
.fantasies {
    background-image: url('../image/bcg-fantasies.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 852px;
    padding-top: 136px;
    padding-bottom: 80px; 
      
}
.container {
}
.fantasies__content {
    display: flex;
    justify-content: space-between;
    

}
.fantasies__content-text {
    margin-right: 20px;  
    max-width: 300px;


}
.fantasies__content-title {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #E3B873;
    margin-bottom: 47px;
}
.fantasies__content-list {
}
.fantasies__content-item {
    margin-bottom: 24px;
}
.fantasies__content-link {
    font-size: 20px;
    color: #FFFFFF;
}
.fantasies__content-link:hover {
    color: #E3B873;
    border-bottom: 1px dotted #E3B873;}

.fantasies__content-images {
    width: 750px;  
    position: relative;
    
}
   
.images__item img {
    display: block;
    
}
.images__item:nth-child(1) {    
    position: absolute;
    top: -188px;
    left: 0;
}
.images__item:nth-child(2) {  
    position: absolute;
    left: 0;
    bottom: -120px;
    
} 


.images__item:nth-child(3) {
    position: absolute;
    top: -260px;
    right: 0;

}
.images__item:nth-child(4) {
    position: absolute;
    bottom: -40px;
    right: 0;
}
.clients {
    padding: 125px 0 354px;
    background-image: url(../image/Frame.jpg);
    background-repeat: no-repeat;    
    background-position: bottom left;    
    background-size: 50vw 70%;  

}

.clients__title {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
    margin-bottom: 13px;
}
.clients__icon {
    display: block;
    margin: 0 auto;
    
}
.clients__subtitle {
    margin-top: 24px; 
    margin-bottom: 39px;
    text-align: center;
    font-size: 18px;
    line-height: 29px;
}
.clients__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.client__card:not(:last-child) {
    margin-right: 20px;
}

.client__card-content {
    padding: 20px 24px 67px;
    background: #FFFFFF;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
}
.cliend__card-title {
    display: flex;
    align-items: center;
    margin-bottom: 24px;

}
.client__card-image {
    width: 76px;
    border-radius: 50%;
    margin-right:23px ;
}
.client__card-descr {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #181818;
    width: 178px;

}
.client__card-text {
    width: 318px;
    font-size: 13px;
    line-height: 180%;
    color: #959595;
}
.client__card-text p:not(:last-child) {
    margin-bottom: 10px;
}
.clients__card-panel {
    display: flex;
    align-items: center;
    width: 294px;
    background-color: #E3B873;
    box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
    margin-top: -27px;

}
.card__panel-left,
.card__panel-right {
    display: flex;
    align-items: center;
    justify-content: space-between;    
    padding: 10px 18px;
    color: #fff;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    text-transform: uppercase;

}
.card__panel-left img,
.card__panel-right img {
    margin-right: 15px;
}
.card__panel-right {
    border-left: 2px solid #fff;

}
   
.footer__top {
    background-image: url(../image/footer_bcg.jpg);
    background-color: #181818;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    position: relative;
    z-index: 4;
    

}
.footer__top::after {
    content: "";
    background: linear-gradient(180deg, rgba(24, 24, 24, 0.9) 3.47%, rgba(24, 24, 24, 0.72) 100%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -3;

}
.footer__top-inner {
    display: flex;
    flex-direction: column;
    align-items: center; 
    

}

.container {
}
.form__box {
    padding: 34px 138px;
    background-color: #131313;    
    max-width: 883px;
    margin: -222px auto 52px;
}
.form__title {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 45px;

}
.form__label:nth-child(-n+2) {   
    width: 230px;
    
}
.form__label:nth-child(3) {
    width: 100%
}
    
    
    


.form__label-box {

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 520px;
    margin: 0 auto;
    gap: 48px 58px;
    margin-bottom: 46px;
}


.footer__field  {
   
    
}
.label__title {
}
.form__checkbox {
}
.form__footer {
}
.label {
}
.checkbox {
}
.fake {
}
.text {
}
.button {
}
.footer__form-button {
    display: block;
    margin: 50px auto 0;
    width: 200px;
    height: 51px;
   
}
.contacts__footer {
}
.address__title {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    
    text-transform: uppercase;
    color: #E3B873;
    max-width: 588px;
    margin: 0 auto;
    text-align: center;

}
.footer__address {
}
.social__footer {
    margin-top: 26px;
    display: flex;
    justify-content: center;
    gap: 0 15px;
}
.map img {
    max-width: 100%;
}

@media (max-width: 1230px) {
  
   .header__button {
    display: none;
   }
   .header__phone,
   .footer__phone {
    width: 100px;
    margin-right: 0;
    
   }
   
.logo {
    flex-shrink: 0;
}
.repair__cards {
    flex-wrap: wrap;
    justify-content: center;
}
.repair__card-content {
    margin-left: 0;
}

}
@media (max-width: 1150px) {
    .projects__list {
        display: none;
    }
<<<<<<< HEAD
   
    .section__projects {
        margin: 0 auto;
        text-align: center;
    }
    .slider__text {
        padding: 0 42px;
    }
    .slider__content {
       grid-template-areas: 
       "slider__text"
       "slider_image"
       "slider__menu";  
       grid-template-columns: auto;
       grid-template-rows: auto;  
       justify-items: center;
       column-gap: 0;
         
        
    }
    .slider_image {
        
    }
    .control {
        background-color: #131313;
        color: #fff;
    }
    .control_form {
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .label__box {
        display: block;
        width: 100%;
       
    }
   
    .label__box input {
        width: 100%;
        
        color: #fff;
        background-color: #131313;
        border-bottom: 1px solid #fff;

    }
    .label__title {
        color: rgba(255, 255, 255, 0.5);
        font-size: 14px;
    }
    
       
    .label__box > label {
        margin-bottom: 60px;
       
    }
    .button__form {
        display: block;
        max-width: 340px;
        flex-shrink: 1;
        order: 4;
        margin: 50px auto -25px;      
        
    }
    
    .repair__card {
        margin-bottom: 230px;

    }
    .repair__card-content {
        height: 70px;
        margin-bottom: 34px;
    }
    .slider_image img {
        max-width: 100%;
    }
    .fantasies {
        background: none;
        height: 420px;
        padding: 0;
        
    }
    .fantasies__content {
        display: flex; 
        flex-direction: column;       
        align-items: center;
        text-align: center;
    }
    .fantasies__content-list {
        display: none;
    }

    .fantasies__content-images {
        position: relative;
        
        
    } 
    .images__item {
        display: none;
    }
    .images__item:nth-child(2),
    .images__item:nth-child(3) {
        display: block;
        
    }
    .images__item:nth-child(2) {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        
    }
    .images__item:nth-child(3) {
        top: 0;
    }
    .clients__box {
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
    }
    
    

}

=======
    .slider {
        display: flex;
        flex-direction: column;
        text-align: center;
        
    }
    .slider__content {
        margin-right: 0;
        padding: 0 32px;
    }
    .slider__menu {
        margin: 0 auto;
    }
}
>>>>>>> 95fe1d051dde424955c0a993cc7d2e44454ec24b
@media (max-width: 768px) {
    .header__list,
    .footer__list {
        display:none
    }
    .promo {
        padding: 85px 19px 60px;
    }
    .promo__inner {
        font-size: 23px;
        width: 340px;
        
       }
    .promo__button-box {
        flex-direction: column; 
        gap: 26px 0;
       

    }
    .button__promo {
        width: 100%;
        
    }
    .advantage {
        display: none;
    }
    
    .images__item:nth-child(3) {
        display: none;
    }
    .fantasies__content-images {
        position: relative;
        max-width: 390px;
        margin: 0 auto;
        z-index: 10;
}
    .clients {
        display: none;
    }
    .footer {
        background-color: #131313;
    }
    .footer__top {
        background: none;
        
    }
    .footer__top::after {
        background: none;
    }
    .form__box {
        margin-top: -120px;
        padding: 173px 10px 0;
        background-color: #131313;
        z-index: -10;
        width: 100%;
        


    }
    .footer__form {
       
    }
    .form__label-box {
        flex-direction: column;
        width: 100%;
        align-items: flex-end;
        
        
    }
    .form__label,
    .form__label:nth-child(-n+2) {
        width: 100%;
    }
    .contacts__footer {
        display: flex;
        flex-direction: column-reverse;
    }
    .footer__bottom {
        display: none;
    }
    
}

    
    
  

    
    
